<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mqttServerIP" value="192.168.1.15" />
    <add key="mqttServerUser" value="luni" />
    <add key="mqttServerPW" value="1641999" />
    <add key="mqttServerTopic" value="testTopic/#" />
    <add key="EvaluationIntervalMiliseconds" value="10000" />
    <add key="RssiCutoff" value="0" /> <!-- RSSI < RssiCutoff will be ignored , value 0 means no Cutoff -->
  </appSettings>
</configuration>